@use "assets/scss/config/colors";
@use "assets/scss/config/fonts";

body {
  min-width: 1400px;
}

/* stylelint-disable-next-line selector-max-id */
#root {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: colors.$BLACK;
}

* {
  font : {
    family: "Gowun Batang", serif;
    size: 16px;
    weight: 400;
  }
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
