@use "assets/scss/config/colors";
@use "assets/scss/mixin/fontSize";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  .date {
    width: calc(100% / 7);
    min-height: 150px;
    padding: 8px;
    cursor: pointer;
    border-top: 1px solid colors.$BLACK;
    transition: all 0.2s ease;
  }

  .number {
    @include fontSize.fontSize(20, 700);
  }

  .now {
    background-color: colors.$BEIGE;
    border-color: colors.$ORANGE;

    .number {
      color: colors.$ORANGE;
    }
  }

  ul {
    list-style: none;
  }

  .plan {
    &::before {
      margin-right: 4px;
      content: "✓";
    }
    margin-top: 2px;

    &:hover {
      color: colors.$ORANGE;
    }
  }
}

.underline {
  text-decoration: line-through;
}

.more {
  @include fontSize.fontSize(14, 700);
  display: block;
  width: 100%;
  padding: 0 8px;
  margin-top: 8px;
  color: colors.$WHITE;
  cursor: pointer;
  background-color: colors.$ORANGE;
  border: none;
}
