@use "assets/scss/config/colors";
@use "assets/scss/mixin/fontSize";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  .date {
    width: calc(100% / 7);
    height: 150px;
    padding: 0 8px;
    padding-top: 8px;
    cursor: pointer;
    border-top: 1px solid colors.$BLACK;
  }

  .number {
    @include fontSize.fontSize(20, 700);
  }

  .now {
    background-color: colors.$BEIGE;
    border-color: colors.$ORANGE;

    .number {
      color: colors.$ORANGE;
    }
  }

  ul {
    list-style: none;
  }

  .plan {
    &::before {
      margin-right: 4px;
      content: "✓";
    }

    &:hover {
      color: colors.$ORANGE;
    }
  }
}
