@use "assets/scss/config/colors";

.wrapper {
  flex: 1;
  padding: 32px;
  border-right: 1px solid colors.$GRAY2;

  a {
    display: flex;
    width: 100%;
    height: 56px;
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 56px;
    color: colors.$BLACK;
    text-decoration: none;

    svg {
      margin: auto 10px auto 0;
    }
  }

  .selected {
    font-weight: 700;
    color: colors.$ORANGE;

    svg,
    svg > image {
      fill: colors.$ORANGE;
    }
  }
}
