$BLACK: #222222;
$WHITE: #ffffff;

$GRAY: #6e6e6e;
$GRAY2: #ececec;
$GRAY3: #dadde6;
$GRAY4: #a0a0a0;

$RED: #f5222d;

$ORANGE: #d5674f;
$ORANGE2: #f9eeea;

$BEIGE: #f2f1ec;
$BEIGE2: #f4e7a6;

$PURPLE: #f48edc;
$PURPLE2: #f2d5eb;

$BLUE: #8ef4f4;
$BLUE2: #d5f2f2;
