@font-face {
  font-family: "Gowun Batang";
  font-weight: 700;
  src: url(assets/fonts/GowunBatang-Bold.woff) format("woff"),
    url(assets/fonts/GowunBatang-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Gowun Batang";
  font-weight: 400;
  src: url(assets/fonts/GowunBatang-Regular.woff) format("woff"),
    url(assets/fonts/GowunBatang-Regular.ttf) format("truetype");
}
